fastapi
uvicorn
langchain
langchain-text-splitters
langchain-community
langchain-pinecone
langchainhub
langgraph
tiktoken
tavily-python
langchain-mistralai
langchain-cohere
pinecone
pydantic
beautifulsoup4
pypdf
rank-bm25
pymupdf4llm 
langchain-tavily